name: lint

on: [push]

jobs:
  title_validation:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v5
    - uses: actions/setup-node@v4
      with:
        node-version: '22'
    - run: npm install
    - name: lint
      run: npx eslint --ext .ts src
