name: 最近編集した投稿を日報に記録する

on:
  workflow_dispatch:
  schedule:
    # UTCの15:05はJSTだと00:05
    - cron: '5 15 * * *'

jobs:
  log_recent_updated_posts:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
    - uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
      with:
        node-version: '22'
    - run: npm install
    - name: log_recent_updated_posts
      env:
        ESA_TEAM_NAME: ${{ secrets.ESA_TEAM_NAME }}
        ESA_ACCESS_TOKEN: ${{ secrets.ESA_ACCESS_TOKEN }}
      run: npx ts-node src/index.ts
